
/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #E55473;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;

}
nav {
    display:flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 100px;
}
.nav-title{

    color: pink;
    font-size: 40px;
    font-weight: 100px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color:rgba(39, 39, 39, 0.60);

}

/* header style */

.header{

    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 20px 20px 2px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .main-picture {
    width: 500px;
    height: 700px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 400px;

}
/* main section style */

.featured {
    padding: 200;
}
.feat-con1{
    text-align: center;
   

}
.sec1-title{
    color: #272727;
    font-size: 40px;
    font-weight: 300;

}

.featured p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
}
.featured img {
    width: 210px;
    height: 328px;
    padding: 100px 30px 0px 30px;
}
.featured a {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}
.feat-con2{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    align-items: center;
    gap: 10%;
   
}

.img1-back {
    width: 510px;
    height: 728px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.img2-back {
    width: 510px;
    height: 728px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.img3-back {
    width: 510px;
    height: 728px;
    border-radius: 300px 300px 0px 0px;
    background:  rgba(71, 125, 17, 0.15);
}

.section3 {
    padding: 20px 20px 2px 100px;
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    text-align: center;
}
 .sec3-picture {
    width: 300px;
    height: 400px;
    padding-right: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
 }
 .section3 p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;

    font-weight: 400;
    line-height: 30px;
 }

 .instra{
     text-align: center;
 }
 .instra-title{
    
 }
 .instra img {
    width: 250px;
    height: 300spx;
    gap: 50%;
    padding: 30px 15px 50px 0px;
 }
 .instra-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800px;

 }
 .instra p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;

    font-weight: 400;
    line-height: 30px;
 }
 .deals{
    text-align: center;
    margin : 0px 100px 100px 130px;
    background-image: url('../asset/Rectangle\ 9.png');
    width: 1065px;
    height: 300px;
 }
 .deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 45px;
    padding-bottom: 0px;
 }
 .deals p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: -35px;
    padding-bottom: 20px;
 }
 .deals input {
    width: 700px;
    height: 35px;
    border-radius: 8px;
 } 